<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CampX</title>
        <link rel="icon" href="https://res.cloudinary.com/dgr21eiov/image/upload/v1724751921/Title-icon-3.png"
            type="image/icon type">
        <link crossorigin="anonymous" rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I">
        <link rel="stylesheet" href="/stylesheets/home.css">
    </head>

    <body class="d-flex text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-left mb-0">Camp</h3>
                    <h2 class="float-md-left mb-0">X</h2>
                    <nav class="nav nav-masthead justify-content-center float-md-right">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="/campgrounds">Campgrounds</a>
                        <% if(!currentUser) { %>
                            <a class="nav-link" href="/login">Login</a>
                            <a class="nav-link" href="/register">Register</a>
                            <% } else { %>
                                <a class="nav-link" href="/logout">Logout</a>
                                <% } %>
                    </nav>
                </div>
            </header>
            <main class="px-3">
                <h1>CampX</h1>
                <p class="lead"> Welcome to CampX! <br> Jump right in and explore our many campgrounds. <br>
                    Feel free to share some of your own and comment on others!</p>
                <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                    Campgrounds</a>
            </main>

            <footer class="mt-auto text-white-50">
                <p>&copy; 2024 </p>
            </footer>


        </div>


        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"></script>
        <script crossorigin="anonymous"
            src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"></script>
    </body>

</html>