<% layout('layouts/boilerplate')%>

    <div class="login-container">
        <div class="login-card">
            <h2 class="login-title">Login</h2>
            <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="form-group">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-input" type="text" id="username" name="username"
                        placeholder="Enter your Username" autofocus required>
                    <div class="valid-feedback">Looks good!</div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <div class="password-input-wrapper">
                        <input class="form-input" type="password" id="password" name="password"
                            placeholder="Enter your Password" required>
                        <img id="togglePassword" src="/icons/hidden.png" class="position-absolute toggle-icon"
                            alt="Toggle visibility" />
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>

                <button class="login-button">Login</button>
                <div class="register-link">Don't have an account? <a href="/register">Register</a></div>
            </form>
        </div>
    </div>



    <script>
        const password = document.getElementById('password');
        const togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', function () {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.src = type === 'password' ? "/icons/hidden.png" : "/icons/visible.png";
        });
    </script>
