<% layout('layouts/boilerplate')%>

    <div class="login-container">
        <div class="login-card">
            <h2 class="login-title">Reset Password</h2>
            <form action="/login" method="POST" class="validated-form" novalidate>
                <div id="email-container">
                    <div class="form-group">
                        <label class="form-label" for="username">Email</label>
                        <input class="form-input" type="email" id="email" name="email"
                            placeholder="Enter your Email" autofocus required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <button id="sendotp" class="login-button">Send OTP</button>
                </div>

                <div id="details-container" class="hidden">
                    <div class="form-group">
                        <label class="form-label" for="username">OTP</label>
                        <input class="form-input" type="text" id="otp" name="otp"
                            placeholder="Enter your OTP" autofocus required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
    
                    <div class="form-group">
                        <label class="form-label" for="password" style="display: flex;">
                            <p class="password">New Password</p>
                        </label>
                        <div class="password-input-wrapper">
                            <input class="form-input" type="password" id="password" name="password"
                                placeholder="Enter your Password" required>
                            <img id="togglePassword" src="/icons/hidden.webp" class="position-absolute toggle-icon"
                                alt="Toggle visibility" />
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                    <button class="login-button" id="resetBtn">Reset Password</button>
                </div>


                <div class="register-link">Don't have an account? <a href="/register">Register</a></div>
            </form>
        </div>
    </div>



    <script>
        const password = document.getElementById('password');
        const togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', function () {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.src = type === 'password' ? "/icons/hidden.webp" : "/icons/visible.webp";
        });

        const emailInput = document.getElementById("email")
        const otpInput = document.getElementById("otp")
        const otpBtn = document.getElementById("sendotp");
        const resetBtn = document.getElementById("resetBtn");
        const emailContainer = document.getElementById("email-container")
        const detailsContainer = document.getElementById("details-container");
        
        let email;

        otpBtn.addEventListener("click", async (e)=>{
            e.preventDefault();

            email = emailInput.value;
            const res = await fetch('/sendotp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email
                })
            })

            console.log(res);

            if(res.statusText === "OK"){
                emailContainer.classList.add("hidden")
                detailsContainer.classList.remove("hidden")
            }
            
        })

        resetBtn.addEventListener("click", async (e)=>{
            e.preventDefault();

            const res = await fetch('/resetpassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email,
                    otp: otpInput.value,
                    password: password.value
                })
            })

            if(res.statusText === "OK"){
                window.location.href = '/login'
            }
        })

    </script>

